<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <a href="http://localhost:43588/home/index">Home</a>
    <a href="http://localhost:43588/about/index">About</a>
    <a href="http://localhost:43588/contact/index">Contact</a>
    @RenderBody()

</body>
</html>

