@model List<Marka>
@{
    ViewData["Title"] = "Home Index";
}

<h1>Home Index</h1>
<h2>Marka List</h2>

<ul>
    @foreach (Marka marka in Model)
    {
        <li>
            <a asp-action="index" asp-controller="Model" asp-route-id="@marka.Id">@marka.Name</a>
        </li>

    }
</ul>

